extends layout

block content

  img(class="welcome-bg" src="/images/fruit-background.jpg")
  div(class="_blank")
  div(class="welcome_words") Get s0arted
  div(class="_blank2")
  div(class="welcome_intro") What we do


  div(class="login-words") Log in
  form(method="POST", action="/user/login", class="form")
    div(class="form__content")
      div(class="styled-input")
        input(name="username",class="styled-input__input")
        div(class="styled-input__placeholder")
          span(class="styled-input__placeholder-text") Username
        div(class="styled-input__circle")


      div(class="styled-input") 
        input(name="password", type="password", class="styled-input__input" autocomplete="new-password")
        div(class="styled-input__placeholder")
          span(class="styled-input__placeholder-text") Password
        div(class="styled-input__circle")

      button(type="submit" class= "styled-button")
        span(class="styled-button___real-text-holder")
          span(class="styled-button__real-text") Login
          span(class="styled-button__moving-block face")
            span(class="styled-button__text-holder")
              span(class="styled-button__text") Login
          span(class="styled-button__moving-block back")
            span(class="styled-button__text-holder")
              span(class="styled-button__text") Login
      

  div#registBACK
    a(class="regist" href="/user/signup") REGIST
    a(class="login_back" href="/") BACK




block script
  script(src="/js/main.js")
