@font-face{
    font-family:fixation;
    src:url("/fonts/Fixation.ttf");
}
@font-face{
    font-family:typolino;
    src:url("/fonts/Typolino.ttf");
}
@font-face{
    font-family:sansRegular;
    src:url("/fonts/InriaSans-Regular.ttf");
}

#myChart{
    height:200px;
    width:100px;
    border: 1px solid black;
}

.w_class{
    border:1px solid black;
}


.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}


.navbar{
    text-align:center;
}
#showTable{
    border:1px solid black;
}
#hideTable{
    border:1px solid black;
}

.header-image-div{
    margin-left:auto;
    margin-right:auto;
    height: 200px;
    width:1000px;
    background-image :url("/images/header-blur-image.png");
    border:2px solid black;
    z-index: -1;
    overflow: hidden;
    opacity:1;
}
/* .header-image{
    height: 200px;
    width:1000px;
    border:2px solid black;
    z-index: -1;
    overflow: hidden;
    opacity:1;
} */

.roomHeader{
    color:rgb(43, 42, 40);
    position:relative;
    margin-top: -140px;

    
    
    font-size:100px;
    font-family:fixation;
    font-weight:normal;
    
}
.roomHeader2{
    color:rgb(212, 66, 66);
    position:relative;
    margin-top: -178px;
    margin-left:-9px;
    

    font-size:100px;
    font-family:fixation;
    font-weight:normal;
}

.signup-form{
    width:400px;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
}
.signup-button{
    padding:10px 10px 10px 10px;
    margin-bottom:10px;
    margin-left:328px;
    border:0px;
    background-color:#028dff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}
.signup-button:hover{
    background-color: #037cde;
}
.have-account{
    text-decoration:none;
    padding-left:230px;
    
}

.login_button{
    font-family: typolino;
    font-weight:bold;
    font-size:30px;
    float:right;
    border-radius:10px;
    border:2px solid black;
    background-color:transparent;
    cursor:pointer;
}
.login-form{
    margin-left:auto;
    margin-right:auto;
    padding-top:7%;
    width:400px;
}
.login_back{
    clear:both;
    font-family: typolino;
    font-weight:bold;
    text-decoration:none;
    font-size:30px;
    float:right;
    margin-top:10px;
    
}
.login_back:visited{
    color:black;
}
.regist:visited{
    color:black;
}
.regist{
    margin-top:10px;
    clear:both;
    font-family: typoLino;
    font-weight:bold;
    text-decoration:none;
    font-size:30px;
    float:right;
}
#registBACK{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    /* margin-top:-110px; */
    
    

}
.profile_bg{
    background-image :url("/images/profileBG.jpg");
    max-width:2000px;
    height:340px;
    /* border:1px solid black; */
    overflow: hidden;
    opacity:1;
    margin-left:auto;
    margin-right:auto;
    /* margin-top:-30px; */
}
#main{
    width:1500px;
    border:1px solid red;
    margin-left:auto;
    margin-right:auto;
}
#nav{
    margin-left:1300px;
    margin-top:50px;
}
#userInfo{
    width:600px;
    border:1px solid blue;
    margin-left:20px;

}
#graphInfo{
    border:1px solid black;
    width:610px;
    position:absolute;
    margin-left:190px;
}
#userInfo, #graphInfo{
    display:inline-block;
}





lable {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: #aaa;
}
  
/* input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    -webkit-transition: .2s;
    transition: .2s;
    background-color:transparent;
} */
  

.input-name,.input-password{
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    /* border: 3px solid #2F96EF; */
    border: 3px solid black;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    -webkit-transition: .2s;
    transition: .2s;
    background-color:transparent;
}


input:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
lable[class='pass']:before {
    content: "\f070";
    color: #aaa;
    font-size: 22px;
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
    top: 44px;
}
  

.progress-bar_text {
    display: inline-block;
    color: #aaa;
    margin-left: 5px;
    -webkit-transition: .2s;
    transition: .2s;
}
  
  
  

  
 
.login-words{
    font-family: Strawberry_Blossom;
	/*font-weight: bold;*/
	font-size:200px;
    cursor:default;
	text-align: center;
	position:relative;

}
  
  
.welcome-bg{
	width:100%;
	position:fixed;
	z-index: -1;
    min-width:1200px;
}

@font-face {
	font-family : Strawberry_Blossom;
	src:url(../fonts/Strawberry_Blossom.otf);
}

._blank{
    height:180px;;
}
._blank2{
    height:50px;
}
.welcome_words{
	font-family: Strawberry_Blossom;
    font-size:200px;
    width:580px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    /* padding-top:17%; */
    /* border:1px red solid; */
	text-align: center;
	position:relative;
	opacity:0;
	transition:2s;
	cursor:pointer;
}
.welcome_intro{
    font-family: Strawberry_Blossom;
    font-size:200px;
    text-align: center;
    width:620px;
    height:200px;
    cursor:pointer;
    opacity:0;
    transition:2s;
    margin-left:auto;
    margin-right:auto;
}
.welcome_intro:hover{
    font-size:210px;
    transition:0.5s;
}
.welcome_words:hover{
    font-size:210px;
    transition:0.5s;
}




















@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

.form {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

    height: 250px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 20px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
}

.form__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.5s ease 0.7s;
  transition: all 0.5s ease 0.7s;
  width:500px;
}

/* body.on-start .form__cover:before {
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
} */
body.document-loaded .form__loader {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
body.document-loaded .form__content {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
body.document-loaded .form__cover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
body.document-loaded .form__cover:after {
  -webkit-transform: scale(2);
          transform: scale(2);
}
body.document-loaded .form__cover:before {
  -webkit-transition: opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
  transition: opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
  transition: transform 2s ease, opacity 0.3s ease 0.8s;
  transition: transform 2s ease, opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.styled-button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  padding: 20px;
  outline: none;
  background: none;
  position: relative;
  color: #492e72;
  border-radius: 3px;
  margin-bottom: 25px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: #714cac;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}
.styled-button__real-text-holder {
  position: relative;
}
.styled-button__real-text {
  color: transparent;
  display: inline-block;
}
.styled-button__text-holder {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.styled-button__moving-block {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.styled-button__moving-block.back {
  color: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.styled-button__moving-block.back .styled-button__text-holder {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.styled-button:hover,
.styled-button:active {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: #7a51bb;
}
.styled-button:hover .face,
.styled-button:active .face {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.styled-button:hover .face .styled-button__text-holder,
.styled-button:active .face .styled-button__text-holder {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.styled-button:hover .back,
.styled-button:active .back {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.styled-button:hover .back .styled-button__text-holder,
.styled-button:active .back .styled-button__text-holder {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.styled-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.styled-input {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.styled-input__circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  border-radius: 3px;
}
.styled-input__circle:after {
  content: '';
  position: absolute;
  left: 16.5px;
  top: 19px;
  height: 14px;
  width: 14px;
  z-index: -2;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  -webkit-transition: opacity 1s ease, -webkit-transform 0.6s ease;
  transition: opacity 1s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 1s ease;
  transition: transform 0.6s ease, opacity 1s ease, -webkit-transform 0.6s ease;
}
.styled-input__input {
  width: 100%;
  -webkit-appearance: none;
  font-size: 14px;
  outline: none;
  background: none;
  padding: 18px 15px;
  color: #240555;
  border: none;
  font-weight: 600;
  letter-spacing: 0.035em;
}
.styled-input__placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  padding-left: 45px;
  color: black;
}
.styled-input__placeholder-text {
  -webkit-perspective: 500px;
          perspective: 500px;
  display: inline-block;
}
.styled-input__placeholder-text .letter {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-animation: letterAnimOut 0.25s ease forwards;
          animation: letterAnimOut 0.25s ease forwards;
  text-shadow: 0 0 5px;
}
.styled-input__placeholder-text .letter.active {
  -webkit-animation: letterAnimIn 0.25s ease forwards;
          animation: letterAnimIn 0.25s ease forwards;
}
.styled-input:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.styled-input.filled {
  border-color: rgba(255, 255, 255, 0.2);
}
.styled-input.filled .styled-input__circle:after {
  -webkit-transform: scale(37);
          transform: scale(37);
  opacity: 0;
}
@-webkit-keyframes letterAnimIn {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  56% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 0;
    color: #00ff6b;
  }
  76% {
    color: #00ff6b;
    opacity: 1;
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
  }
  100% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 1;
  }
}
@keyframes letterAnimIn {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  56% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 0;
    color: #00ff6b;
  }
  76% {
    color: #00ff6b;
    opacity: 1;
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
  }
  100% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 1;
  }
}
@-webkit-keyframes letterAnimOut {
  0% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  56% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes letterAnimOut {
  0% {
    -webkit-transform: translate(-30px, -27px);
            transform: translate(-30px, -27px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  56% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.spinner {
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.spinner__circular {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
}
.spinner__path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.3s ease forwards 0.5s;
          animation: dash 1.3s ease forwards 0.5s;
  opacity: 0;
  stroke-linecap: round;
  stroke: #7b23ff;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  50% {
    stroke-dasharray: 40, 200;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 125, 200;
    opacity: 1;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  50% {
    stroke-dasharray: 40, 200;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 125, 200;
    opacity: 1;
  }
}